.leftbox {
    // min-width: 360px;
    display: flex;
    flex-direction: column;
    row-gap: 5em;

    margin: auto 12px;
    place-content: space-between;

    .tandc {
        text-align: center;
        font-size: small;
        margin: auto;
        color: rgb(102, 96, 96);

        a {
            text-decoration: none;
        }
    }

    img {
        width: 70%;
        height: auto;
        margin: auto;
    }

    h6 {
        text-align: center;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;

        span {
            color: green;

            &:nth-child(2) {
                color: red;
            }
        }
    }
}
.rightbox {
    // min-width: 320px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    place-content: space-between;
    height: 100%;
    h1,
    h5 {
        margin: 1rem 0.2rem;

        span {
            color: green;
        }
    }

    h1 {
        font-size: 3em;
        font-weight: 800;
    }



    .form {
        padding: .2rem .5rem;
        margin: 1em;
        margin-bottom: 0;
        border-radius: 12px;

        input[type=text] {
            color: white;
            //outline: 2px solid white;

        }
    }


    .signupbts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        place-content: space-evenly;
        padding: 1rem .5rem;


        button {
            width: 100%;
            text-align: center;
            margin: auto;
            margin: 12px;

            &:nth-child(2):hover {
                cursor: not-allowed;
            }
        }

    }
}

.dark {
    background-color: black;
    color: white;
}